In [1]:
#Load the important libraries neede
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# Input data files are available in the "../input/" directory.

train_data = pd.read_csv("train.csv")

# Display the first few rows of the data
print(train_data.head())

# Get the shape of the data just to know how many rows and columns it contains
print(train_data.shape)

                 Dates        Category                      Descript  \
0  2015-05-13 23:53:00        WARRANTS                WARRANT ARREST
1  2015-05-13 23:53:00  OTHER OFFENSES      TRAFFIC VIOLATION ARREST
2  2015-05-13 23:33:00  OTHER OFFENSES      TRAFFIC VIOLATION ARREST
3  2015-05-13 23:30:00   LARCENY/THEFT  GRAND THEFT FROM LOCKED AUTO
4  2015-05-13 23:30:00   LARCENY/THEFT  GRAND THEFT FROM LOCKED AUTO

   DayOfWeek PdDistrict      Resolution                    Address  \
0  Wednesday   NORTHERN  ARREST, BOOKED         OAK ST / LAGUNA ST
1  Wednesday   NORTHERN  ARREST, BOOKED         OAK ST / LAGUNA ST
2  Wednesday   NORTHERN  ARREST, BOOKED  VANNESS AV / GREENWICH ST
3  Wednesday   NORTHERN            NONE   1500 Block of LOMBARD ST
4  Wednesday       PARK            NONE  100 Block of BRODERICK ST

            X          Y
0 -122.425892  37.774599
1 -122.425892  37.774599
2 -122.424363  37.800414
3 -122.426995  37.800873
4 -122.438738  37.771541
(878049, 9)

In [2]:
#target variable

target = train_data["Category"].unique()
print(target)

['WARRANTS' 'OTHER OFFENSES' 'LARCENY/THEFT' 'VEHICLE THEFT' 'VANDALISM'
 'NON-CRIMINAL' 'ROBBERY' 'ASSAULT' 'WEAPON LAWS' 'BURGLARY'
 'SUSPICIOUS OCC' 'DRUNKENNESS' 'FORGERY/COUNTERFEITING' 'DRUG/NARCOTIC'
 'STOLEN PROPERTY' 'SECONDARY CODES' 'TRESPASS' 'MISSING PERSON' 'FRAUD'
 'KIDNAPPING' 'RUNAWAY' 'DRIVING UNDER THE INFLUENCE'
 'SEX OFFENSES FORCIBLE' 'PROSTITUTION' 'DISORDERLY CONDUCT' 'ARSON'
 'FAMILY OFFENSES' 'LIQUOR LAWS' 'BRIBERY' 'EMBEZZLEMENT' 'SUICIDE'
 'LOITERING' 'SEX OFFENSES NON FORCIBLE' 'EXTORTION' 'GAMBLING'
 'BAD CHECKS' 'TREA' 'RECOVERED VEHICLE' 'PORNOGRAPHY/OBSCENE MAT']

In [3]:
#Let's read the test data now

test_data = pd.read_csv("test.csv")
print(test_data.head())
print(test_data.shape)

   Id             Dates DayOfWeek PdDistrict                   Address  \
0   0  10-05-2015 23:59    Sunday    BAYVIEW   2000 Block of THOMAS AV
1   1  10-05-2015 23:51    Sunday    BAYVIEW        3RD ST / REVERE AV
2   2  10-05-2015 23:50    Sunday   NORTHERN    2000 Block of GOUGH ST
3   3  10-05-2015 23:45    Sunday  INGLESIDE  4700 Block of MISSION ST
4   4  10-05-2015 23:45    Sunday  INGLESIDE  4700 Block of MISSION ST

            X          Y
0 -122.399588  37.735051
1 -122.391523  37.732432
2 -122.426002  37.792212
3 -122.437394  37.721412
4 -122.437394  37.721412
(884262, 7)

In [4]:
data_dict = {}
count = 1
for data in target:
    data_dict[data] = count
    count+=1
train_data["Category"] = train_data["Category"].replace(data_dict)

#Replacing the day of weeks
data_week_dict = {
    "Monday": 1,
    "Tuesday":2,
    "Wednesday":3,
    "Thursday":4,
    "Friday":5,
    "Saturday":6,
    "Sunday":7
}
train_data["DayOfWeek"] = train_data["DayOfWeek"].replace(data_week_dict)
test_data["DayOfWeek"] = test_data["DayOfWeek"].replace(data_week_dict)
#District
district = train_data["PdDistrict"].unique()
data_dict_district = {}
count = 1
for data in district:
    data_dict_district[data] = count
    count+=1 
train_data["PdDistrict"] = train_data["PdDistrict"].replace(data_dict_district)
test_data["PdDistrict"] = test_data["PdDistrict"].replace(data_dict_district)

In [5]:
data_dict_district

{'NORTHERN': 1,
 'PARK': 2,
 'INGLESIDE': 3,
 'BAYVIEW': 4,
 'RICHMOND': 5,
 'CENTRAL': 6,
 'TARAVAL': 7,
 'TENDERLOIN': 8,
 'MISSION': 9,
 'SOUTHERN': 10}

In [6]:
print(train_data.head())

                 Dates  Category                      Descript  DayOfWeek  \
0  2015-05-13 23:53:00         1                WARRANT ARREST          3
1  2015-05-13 23:53:00         2      TRAFFIC VIOLATION ARREST          3
2  2015-05-13 23:33:00         2      TRAFFIC VIOLATION ARREST          3
3  2015-05-13 23:30:00         3  GRAND THEFT FROM LOCKED AUTO          3
4  2015-05-13 23:30:00         3  GRAND THEFT FROM LOCKED AUTO          3

   PdDistrict      Resolution                    Address           X  \
0           1  ARREST, BOOKED         OAK ST / LAGUNA ST -122.425892
1           1  ARREST, BOOKED         OAK ST / LAGUNA ST -122.425892
2           1  ARREST, BOOKED  VANNESS AV / GREENWICH ST -122.424363
3           1            NONE   1500 Block of LOMBARD ST -122.426995
4           2            NONE  100 Block of BRODERICK ST -122.438738

           Y
0  37.774599
1  37.774599
2  37.800414
3  37.800873
4  37.771541

In [7]:
columns_train = train_data.columns
print(columns_train)
columns_test = test_data.columns
print(columns_test)

Index(['Dates', 'Category', 'Descript', 'DayOfWeek', 'PdDistrict',
       'Resolution', 'Address', 'X', 'Y'],
      dtype='object')
Index(['Id', 'Dates', 'DayOfWeek', 'PdDistrict', 'Address', 'X', 'Y'], dtype='object')

In [8]:
cols = columns_train.drop("Resolution")
print(cols)

Index(['Dates', 'Category', 'Descript', 'DayOfWeek', 'PdDistrict', 'Address',
       'X', 'Y'],
      dtype='object')

In [9]:
train_data_new = train_data[cols]
print(train_data_new.head())

                 Dates  Category                      Descript  DayOfWeek  \
0  2015-05-13 23:53:00         1                WARRANT ARREST          3
1  2015-05-13 23:53:00         2      TRAFFIC VIOLATION ARREST          3
2  2015-05-13 23:33:00         2      TRAFFIC VIOLATION ARREST          3
3  2015-05-13 23:30:00         3  GRAND THEFT FROM LOCKED AUTO          3
4  2015-05-13 23:30:00         3  GRAND THEFT FROM LOCKED AUTO          3

   PdDistrict                    Address           X          Y
0           1         OAK ST / LAGUNA ST -122.425892  37.774599
1           1         OAK ST / LAGUNA ST -122.425892  37.774599
2           1  VANNESS AV / GREENWICH ST -122.424363  37.800414
3           1   1500 Block of LOMBARD ST -122.426995  37.800873
4           2  100 Block of BRODERICK ST -122.438738  37.771541

In [10]:
print(train_data_new.describe())

            Category      DayOfWeek     PdDistrict              X  \
count  878049.000000  878049.000000  878049.000000  878049.000000
mean        7.224975       3.992691       6.037957    -122.422616
std         6.111544       1.972023       3.114945       0.030354
min         1.000000       1.000000       1.000000    -122.513642
25%         3.000000       2.000000       3.000000    -122.432952
50%         5.000000       4.000000       6.000000    -122.416420
75%        10.000000       6.000000       9.000000    -122.406959
max        39.000000       7.000000      10.000000    -120.500000

                   Y
count  878049.000000
mean       37.771020
std         0.456893
min        37.707879
25%        37.752427
50%        37.775421
75%        37.784369
max        90.000000

In [11]:
corr = train_data_new.corr()
print(corr["Category"])

Category      1.000000
DayOfWeek    -0.016263
PdDistrict    0.007643
X             0.000147
Y            -0.005303
Name: Category, dtype: float64

In [12]:
skew = train_data_new.skew()
print(skew)

Category        1.662607
DayOfWeek      -0.005572
PdDistrict     -0.232137
X              18.685494
Y             113.984988
dtype: float64

In [13]:
features = ["DayOfWeek", "PdDistrict",  "X", "Y"]
X_train = train_data[features]
y_train = train_data["Category"]
X_test = test_data[features]

from sklearn.neighbors import KNeighborsClassifier
import pickle
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
predictions = knn.predict(X_test)

pickle.dump(knn,open('model.pkl','wb'))
model=pickle.load(open('model.pkl','rb'))

In [14]:
for i in range(50):
    print(predictions[i])

8
2
3
2
2
2
6
2
4
4
4
8
8
3
2
2
3
8
2
6
6
1
4
6
2
2
10
3
3
4
4
3
2
3
3
6
2
8
6
3
4
3
8
2
4
3
4
7
3
2

In [41]:
from collections import OrderedDict
data_dict_new = OrderedDict(sorted(data_dict.items()))
print(data_dict_new)

OrderedDict([('ARSON', 26), ('ASSAULT', 8), ('BAD CHECKS', 36), ('BRIBERY', 29), ('BURGLARY', 10), ('DISORDERLY CONDUCT', 25), ('DRIVING UNDER THE INFLUENCE', 22), ('DRUG/NARCOTIC', 14), ('DRUNKENNESS', 12), ('EMBEZZLEMENT', 30), ('EXTORTION', 34), ('FAMILY OFFENSES', 27), ('FORGERY/COUNTERFEITING', 13), ('FRAUD', 19), ('GAMBLING', 35), ('KIDNAPPING', 20), ('LARCENY/THEFT', 3), ('LIQUOR LAWS', 28), ('LOITERING', 32), ('MISSING PERSON', 18), ('NON-CRIMINAL', 6), ('OTHER OFFENSES', 2), ('PORNOGRAPHY/OBSCENE MAT', 39), ('PROSTITUTION', 24), ('RECOVERED VEHICLE', 38), ('ROBBERY', 7), ('RUNAWAY', 21), ('SECONDARY CODES', 16), ('SEX OFFENSES FORCIBLE', 23), ('SEX OFFENSES NON FORCIBLE', 33), ('STOLEN PROPERTY', 15), ('SUICIDE', 31), ('SUSPICIOUS OCC', 11), ('TREA', 37), ('TRESPASS', 17), ('VANDALISM', 5), ('VEHICLE THEFT', 4), ('WARRANTS', 1), ('WEAPON LAWS', 9)])

In [42]:
for key,value in data_dict_new.items():
    print(key + " : " + str(value))

ARSON : 26
ASSAULT : 8
BAD CHECKS : 36
BRIBERY : 29
BURGLARY : 10
DISORDERLY CONDUCT : 25
DRIVING UNDER THE INFLUENCE : 22
DRUG/NARCOTIC : 14
DRUNKENNESS : 12
EMBEZZLEMENT : 30
EXTORTION : 34
FAMILY OFFENSES : 27
FORGERY/COUNTERFEITING : 13
FRAUD : 19
GAMBLING : 35
KIDNAPPING : 20
LARCENY/THEFT : 3
LIQUOR LAWS : 28
LOITERING : 32
MISSING PERSON : 18
NON-CRIMINAL : 6
OTHER OFFENSES : 2
PORNOGRAPHY/OBSCENE MAT : 39
PROSTITUTION : 24
RECOVERED VEHICLE : 38
ROBBERY : 7
RUNAWAY : 21
SECONDARY CODES : 16
SEX OFFENSES FORCIBLE : 23
SEX OFFENSES NON FORCIBLE : 33
STOLEN PROPERTY : 15
SUICIDE : 31
SUSPICIOUS OCC : 11
TREA : 37
TRESPASS : 17
VANDALISM : 5
VEHICLE THEFT : 4
WARRANTS : 1
WEAPON LAWS : 9

In [43]:
from sklearn.linear_model import LogisticRegression
b = LogisticRegression()

In [44]:
X_test

        DayOfWeek  PdDistrict           X          Y
0               7           4 -122.399588  37.735051
1               7           4 -122.391523  37.732432
2               7           1 -122.426002  37.792212
3               7           3 -122.437394  37.721412
4               7           3 -122.437394  37.721412
...           ...         ...         ...        ...
884257          3           9 -122.408983  37.751987
884258          3           1 -122.425342  37.792681
884259          3           3 -122.445418  37.712075
884260          3           4 -122.387394  37.739479
884261          3           7 -122.489714  37.733950

[884262 rows x 4 columns]

In [15]:
result_dataframe = pd.DataFrame({
    "Id": test_data["Id"]
})
for key,value in data_dict_new.items():
    result_dataframe[key] = 0
count = 0
for item in predictions:
    for key,value in data_dict.items():
        if(value == item):
            result_dataframe[key][count] = 1
    count+=1
result_dataframe.to_csv("submission_knn.csv", index=False)

In [ ]:
from sklearn.linear_model import LogisticRegression
lgr = LogisticRegression(max_iter=1000000)
lgr.fit(X_train, y_train)
predictions = knn.predict(X_test)

#print(type(predictions))
result_dataframe = pd.DataFrame({
    "Id": test_data["Id"]
})
for key,value in data_dict_new.items():
    result_dataframe[key] = 0
count = 0
for item in predictions:
    for key,value in data_dict.items():
        if(value == item):
            result_dataframe[key][count] = 1
    count+=1
result_dataframe.to_csv("submission_logistic.csv", index=False)

In [ ]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(X_train, y_train)
predictions = log.predict(X_test)

for key,value in data_dict_new.items():
    result_dataframe[key] = 0
count = 0
for item in predictions:
    for key,value in data_dict.items():
        if(value == item):
            result_dataframe[key][count] = 1
    count+=1
result_dataframe.to_csv("submission_logistic.csv", index=False)

In [30]:
import sys

In [31]:
sys.maxsize

9223372036854775807

In [17]:
float_features = [float(i) for i in range(10)]
print(float_features)

[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0]

In [18]:
features =[]
days = {"Monday":1,"Tuesday":2,"Wednesday":3,"Thursday":4,"Friday":5,"Saturday":6,"Sunday":7}
x = "Sunday"
if x in days.keys():
    features.append(days[x])
features

[7]

In [20]:
features =[]
values = ["Tuesday","PARK",-122.399588,37.735051]
days = {"Monday":1,"Tuesday":2,"Wednesday":3,"Thursday":4,"Friday":5,"Saturday":6,"Sunday":7}
district = {'NORTHERN': 1,'PARK': 2,'INGLESIDE': 3,'BAYVIEW': 4,'RICHMOND': 5,'CENTRAL': 6,'TARAVAL': 7,'TENDERLOIN':8,'MISSION': 9,'SOUTHERN': 10}
for x in values:
    if x in days.keys():
        features.append(days[x])
    elif x in district.keys():
        features.append(district[x])
    else:
        features.append(x)

print(features)

[2, 2, -122.399588, 37.735051]

In [21]:
crime = {1:"stab",2:"shoot",3:"forgery"}

In [24]:
crime[1]

'stab'

In [25]:
op = {26:'ARSON', 8:'ASSAULT', 36:'BAD CHECKS', 29:'BRIBERY', 18:'BURGLARY', 25:'DISORDERLY CONDUCT', 
          22:'DRIVING UNDER THE INFLUENCE', 14:'DRUG/NARCOTIC', 12:'DRUNKENNESS', 30:'EMBEZZLEMENT', 34:'EXTORTION',
          27:'FAMILY OFFENSES', 13:'FORGERY/COUNTERFEITING', 19:'FRAUD', 35:'GAMBLING', 20:'KIDNAPPING',
          3: 'LARCENY/THEFT', 28:'LIQUOR LAWS', 32:'LOITERING', 18:'MISSING PERSON', 6:'NON-CRIMINAL',2:'OTHER OFFENSES',
          39:'PORNOGRAPHY/OBSCENE MAT', 24:'PROSTITUTION', 38:'RECOVERED VEHICLE', 7:'ROBBERY', 21:'RUNAWAY', 
          16:'SECONDARY CODES', 23:'SEX OFFENSES FORCIBLE', 33:'SEX OFFENSES NON FORCIBLE', 15:'STOLEN PROPERTY', 
          31:'SUICIDE', 11:'SUSPICIOUS OCC', 37:'TREA', 17:'TRESPASS', 5:'VANDALISM', 4:'VEHICLE THEFT', 1:'WARRANTS', 
          9:'WEAPON LAWS'}

In [26]:
op[25]

'DISORDERLY CONDUCT'

In [46]:
example = np.array([7,4,3,2,4,5,3,6,7,4,2,3,5,6,8,4])
example = example.reshape(1, -1)
print(example)

[[7 4 3 2 4 5 3 6 7 4 2 3 5 6 8 4]]

In [47]:
features = ["DayOfWeek", "PdDistrict",  "X", "Y"]
X_train = train_data[features]
y_train = train_data["Category"]
X_test = test_data[features]

from sklearn.neighbors import KNeighborsClassifier
import pickle
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(X_train, y_train)
predictions = knn.predict_proba(X_test)

for i in range(100):
    print(predictions[i])

In [66]:
print(type(X_train))

<class 'pandas.core.frame.DataFrame'>

In [78]:
train_data.shape

(878049, 9)